.message {
  position: fixed;
  top: 3rem;
  width: 50%;
  margin-left: 50%;
  left: -25%;
  z-index: 10;
  background: #ffffff;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow:  5px 5px 8px rgba(0, 0, 0, 0.2);
}

.message-header {
  display: flex;
  justify-content:space-between ;
  margin-bottom: 1rem;
}

.message-header button {
  padding: 0.5rem;
  cursor: pointer;
}

.message p {
  font-size: 1rem;
}
